<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home - SyLog Mercado Livre</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div class="container">
    
    <form action="/post" method="POST" enctype="multipart/form-data">
      <div>
        <label for="title">Autorização Concluída</label>
        <%= user %>
      </div>
    </form>
  </div>
</body>
</html>