<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sylog Mercado Livre</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
  <div class="container">
    <h1>Bem-vindo a aplicação SyLog Mercado Livre!</h1>
    <div>Informe a senha <span class="marcasenha">mlsylog</span> no campo abaixo</div>
    <form action="/login" method="POST">
      <label for="password">Senha:</label>
      <input type="password" name="password" id="password" autofocus />
      <button type="submit">Iniciar!</button>
    </form>
  </div>
</body>
</html>